*.dll
.vs/*
**/bin/*
**/obj/*
*/node_modules/*
*/.vs/*
*.vsix
*.diagsession
*.bin
*.prg
*.cache
*.suo
**/.vs/*
**/Compare/*
*.prg
asmcompare.asm
output.png
.ionide/*
Debugger/**/*
.fake
.ionide
**/Debug/*
**/Release/*
~*.xlsx
Testing/*
test.txt
test.zip
**/Publish/*
publish.bat
*- Backup.*
